@model PhoneAndBrandListViewModel
@{
    ViewData["Title"] = "PhoneSeller | Index";
}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Shop in style</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome Phone Seller</p>
        </div>
    </div>
</header>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @foreach (var phone in Model.Phones)
            {
                 @if (phone.PhoneStock != 0)
                {
                    <div class="col mb-5">
                    <div class="card h-100">
                    <!-- Product image-->
                        <img src="@phone.PhonePhotoUrl" alt="@phone.PhoneName" style=" width: 100%; height: 15vw;object-fit: cover;" />

                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">@phone.PhoneName</h5>
                            <!-- Product reviews-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                @for (int i = 0; i < phone.PhoneStar; i++)
                                {
                                   <div class="bi-star-fill"></div>
                                }
                                @if (phone.PhoneRatingCountUser > 0)
                                {
                                            <span>(@phone.PhoneRatingCountUser)</span>
                                }
                                         

                            </div>
                            <!-- Product price-->
                            @if (phone.PhoneOldPrice != 0)
                            {
                              <span class="text-muted text-decoration-line-through">$@phone.PhoneOldPrice</span>
                            }  
                            $@phone.PhonePrice
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" asp-action="Phone" asp-route-slug="@phone.PhoneSlug">Show Phone</a></div>
                    </div>
                </div>
            </div>
                }
            }
        </div>
    </div>
    <div class="text-center">
        <div page-model="@Model.Pagination" page-action="Index" page-classes-enabled="true" page-class="btn"
             page-class-normal="btn-outline-dark" page-class-selected="btn-secondary" class="btn-group">
        </div>
    </div>
</section>
